body {
	color: #4d4d4d;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 16px;
}
.wrapper {
	max-width: 1170px;
	margin: 0 auto;
}
header {
	position: absolute;
	top: 84px;
	left: 0;
	right: 0;
	z-index: 99;
}	
.header-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	height:150px;
	border: 3px solid #ffffff;
	border-radius: 50%;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	font-weight: 700;
	line-height: 25px;
	text-transform: uppercase;
}
.logo a:hover {
	color: #0d0d0d;
}
.menu {
	list-style: none;
	display: flex;
}
.menu__item {
	margin-left: 90px;
	position: relative;
}
.menu__item:after{
	content: '\\\\';
	display: block;
	font-size: 18px;
	font-weight: 600;
	line-height: 20px;
	position: absolute;
	left: 100%;
	top: 0;
	margin-left: 40px;
}
.menu__item:last-child:after {
	display: none
}
.menu__link {
	font-size: 24px;
	font-weight: 600;
	line-height: 20px;
	text-transform: uppercase;
	color: #fff;
}
.menu__link:hover {
	color: #000;
}
.item {
	font-size: 24px;
	position: center;
	margin: 1em;
}

.h1 , .h2 {
	display: flex;
	justify-content: center;
	font-size: 30px;
	font-style: ;
	margin: 1.5em;
}
.h1 {
	color: #fff;
}
.item , .h2 {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: nowrap;
	color: #000;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	line-height: 20px;
	font-weight: 900;
}
.img1 , .img2{
	display: flex;
	align-items: stretch;
	justify-content: space-around;
	flex-wrap:nowrap;
}
.img1 p , .img2 p {
	font-size: small;
	font-style: italic;
	justify-content: center;
	color: #000
}
.img1 p {
	max-width: 250px;
}
.img2 p {
	max-width: 250px;
}
.hr3 {
	border: none;
 	border-bottom: 3px dashed #fff;
}
.banner {
	background: url("img/banner.png") no-repeat center top;
	height: 525px;
	border-radius: 20%;
}
.banner2 {
	background: url("img/banner.png") no-repeat center top;
	background-size: cover;
	height: 445px;
	position: relative;
	max-width: 100%;
}
.banner2:before {
	content: ' ' ;
	position: absolute;
	top: 0;
	display: block;
	width: 0;
	height: 0;
	border-top: 100px solid #fff;
	border-left: 100vw solid transparent;
}
.banner2:after {
	content:'';
	position: absolute;
	bottom: 0;
	display: block;
	width: 0;
	height: 0;
	border-bottom: 100px solid #fff;
	border-right: 100vw solid transparent;
}
.banner3 {
	background: url("img/banner3.png") no-repeat center top;
	height: 300px;
}
