body {
	color: #4d4d4d;
	font-family: "Open Sans", Arial, Sans-serif;
	font-size: 16px;
	max-width: 1370px;
	margin: 0 auto
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
}

header {
	position: absolute;
	top: 84px;
	left: 0;
	right: 0;
	z-index: 99;
}	

.header-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.banner {
	background: url("img/banner.png") no-repeat center top;
	height: 525px;
	border: 1px solid #ffffff;
	border-radius: 20%;
}

.logo a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	height:150px;
	border: 3px solid #ffffff;
	border-radius: 50%;
	color: #ffffff;
	font-family: 'Montserrat', Sans-serif;
	font-size: 25px;
	font-weight: 700;
	line-height: 25px;
	text-transform: uppercase;
}

.logo:hover {
	color: #0d0d0d;
}

.menu {
	list-style: none;
	display: flex;
}

.menu__item {
	margin-left: 90px;
	position: relative;
}
.menu__item:after{
	content: '\\\\';
	display: block;
	font-size: 18px;
	font-weight: 600;
	line-height: 20px;
	color: #ffffff;
	position: absolute;
	left: 100%;
	top: 0;
	margin-left: 40px;
}
.menu__item:last-child:after {display: none}

.menu__link {
	font-size: 18px;
	font-weight: 600;
	line-height: 20px;
	text-transform: uppercase;
	color: #ffffff;
}
.menu__link:hover {
	color: #0d0d0d;
}

.h1 {
	color: #ffffff;
	
	display: flex;
	justify-content: center;

}

.h2 {
	color: #000;
	
	display: flex;
	justify-content: center;
}

.maki {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: nowrap;
	color: #000;
	font-family: 'Montserrat', Sans-serif;
	font-size: 24px;
	line-height: 20px;
	font-weight: 900;

}

.img1 {
	display: flex;
	align-items: stretch;
	justify-content: space-around;
	flex-wrap:nowrap;


}

.img1 p {
	max-width: 250px;
	font-size: small;
	font-style: italic;
	justify-content: center;
	color: #000

}

.img2 {
	display: flex;
	align-items: stretch;
	justify-content: space-around;
	flex-wrap:nowrap;


}

.img2 p {
	max-width: 160px;
	font-size: small;
	font-style: italic;
	color: #000

}
hr {
	border: 0;
 	border-bottom: 3px dashed #ffffff;

 
}

img {
	border-color: #000;
}

.banner2 {
	background: url("img/banner2.png") no-repeat center top;
	height: 445px;
}

.banner3 {
	background: url("img/banner3.png") no-repeat center top;
	height: 300px;
}

.banner4 {
	background: url("img/banner1.png") no-repeat center top;
	height: 450px;
	
}
